* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
}
body {
  height: 100%;
  width: 100%;
}
.title {
  margin: 20px 50px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  border-radius: 7px;
  text-transform: uppercase;
}
.main {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.count {
  color: rgb(48, 46, 46);
  background-color: white;
  font-size: 100px;
}
.buttons {
  margin-top: 60px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}
.change-button {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 14px 12px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid black;
}
.change-button:hover {
  color: white;
  background-color: rgb(48, 46, 46);
  transition: 0.6s;
  border-color: white;
}
.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 17px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #6f6f71;
}
